@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, monospace;
  --font-display: var(--font-archivo), "Arial Black", "Helvetica Neue",
    sans-serif;
}

:root {
  --background: #00ad6f;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
}
